<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logogst"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logogst"
        android:supportsRtl="true"
        android:theme="@style/Theme.GSTBIllingPro">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".custmore.AddCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AllInvoicesActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.NewProductActivity"
            android:exported="true" />
        <activity
            android:name=".Registration.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Registration.RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".Registration.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>